:host input.md-input-element {
    color: red;
    font-size: 18px;
  }
  
  .app-icon {
    padding: 0 10px;
    color: white;
    cursor: pointer;
  }
  
  .app-icon-gray {
    padding: 0 4px;
    color: #282364;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .item-spacer {
    flex: 1 1 auto;
  }
  
  .search {
    width: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .search:focus {
    width: 100px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    /*max-height: 500px;
    min-width: 300px;*/
  }
  
  .mat-table {
    overflow: auto;
    max-height: 100%;
  
  }
  
  .mat-cell-sn {
    flex: 0 0 10%;
  }
  
  .mat-cell-sl {
    flex: 0 0 10%;
  }
  
  .mat-cell-song {
    flex: 0 0 70%;
    cursor: pointer;
  }
  
  .mat-cell-op {
    flex: 0 0 10%;
  }
  
  .highlight {
    background: #B39DDB;
  }
  
  @keyframes flicker {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.4;
    }
  }
  
  #gray {
    fill: #f5f5f5;
    animation: flicker 2s ease alternate infinite;
  }
  
  #green {
    fill: #b9f6ca;
    animation: flicker 2.5s ease alternate infinite;
  }
  
  #yellow {
    fill: #ffff8d;
    animation: flicker 3s ease alternate infinite;
  }
  
  #blue {
    fill: #84ffff;
    animation: flicker 2.8s ease alternate infinite;
  }
  
  #purple {
    fill: #b388ff;
    animation: flicker 2.6s ease alternate infinite;
  }
  
  #red {
    fill: #ff8a80;
    animation: flicker 2.2s ease alternate infinite;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadetext {
    animation: fadein 2.2s ease alternate infinite;
  }
  
  body {
    animation: fadein 2s;
  }
  