<mat-grid-tile-header style="-webkit-user-select: none;-webkit-app-region: drag;height: 40px;background-color: white;" fxLayout="row" fxLayoutAlign="start center">
  <span class="item-spacer"></span>
  <span style="color: #282364;opacity: 0.7;font-family: Roboto;font-size: 14px;margin-left:5px">
    <b>{{songName}}</b> {{artist}}
  </span> 
  <span class="item-spacer"></span>
  <span>
    <mat-icon class="app-icon-gray" style="-webkit-user-select: none;-webkit-app-region: no-drag;cursor: pointer">menu</mat-icon>
  </span>
</mat-grid-tile-header>
<div  (window:resize)="onResize($event)" id="waveform" style="justify-content:center;align-items:center;" fxLayout="column" fxLayoutAlign="center stretch">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    
</div>
<mat-grid-tile-footer style="height: 40px; background-color: white" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button>
      <mat-icon class="app-icon-gray">skip_previous</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="app-icon-gray" (click)="togglePlayPauseState()">{{icon}}</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="app-icon-gray">skip_next</mat-icon>
    </button>
    <button mat-icon-button >
      <mat-icon class="app-icon-gray" id="volume" [matMenuTriggerFor]="volumecontrol">{{volumeIcon}}</mat-icon>
    </button>
    <span class="item-spacer "></span>  
    <button mat-icon-button >
        <mat-icon class="app-icon-gray" >shuffle</mat-icon>
    </button>
    <button mat-icon-button >
        <mat-icon class="app-icon-gray" (click)="openDialog()">equalizer</mat-icon>
    </button>
    <!-- <button mat-icon-button [@zoomState]="zoomState" (click)="toggleZoomState()"> -->
        <button mat-icon-button  (click)="toggleZoomState()">
            
      <mat-icon class="app-icon-gray">timeline</mat-icon>
    </button>
    <span style="color: #282364;opacity: 0.7;font-family: Roboto;font-size: 14px;margin-left:5px"> 
        {{currentTime}} : {{songDuration}}
    </span>
</mat-grid-tile-footer>
<mat-menu #volumecontrol="matMenu">
  <div><mat-slider class="slider-class" min="0" max="100" step="1" value="60" vertical=false (input)="updateVolume($event)"></mat-slider></div>
</mat-menu>  