<md-grid-tile-header style="-webkit-user-select: none;-webkit-app-region: drag;height: 40px;background-color: white;" fxLayout="row" fxLayoutAlign="start center">
  <span class="item-spacer"></span>
  <span style="color: #282364;opacity: 0.7;font-family: Roboto;font-size: 14px;margin-left:5px">
    <b>Beat It : </b> Michael Jackson
  </span> 
  <span class="item-spacer"></span>
  <span>
    <md-icon class="app-icon-gray" style="-webkit-user-select: none;-webkit-app-region: no-drag;cursor: pointer">menu</md-icon>
  </span>
</md-grid-tile-header>
<div  (window:resize)="onResize($event)" id="waveform" style="justify-content:center;align-items:center;" fxLayout="column" fxLayoutAlign="center stretch">
</div>
<md-grid-tile-footer style="height: 40px; background-color: white" fxLayout="row" fxLayoutAlign="start center">
    <button md-icon-button>
      <md-icon class="app-icon-gray">skip_previous</md-icon>
    </button>
    <button md-icon-button>
      <md-icon class="app-icon-gray" (click)="play()">{{icon}}</md-icon>
    </button>
    <button md-icon-button>
      <md-icon class="app-icon-gray">skip_next</md-icon>
    </button>
    <span class="item-spacer "></span>  
    <span style="color: #282364;opacity: 0.7;font-family: Roboto;font-size: 14px;margin-left:5px"> 
        {{currentTime}} : {{songDuration}}
    </span>
</md-grid-tile-footer>