<mat-grid-tile-header style="-webkit-user-select: none;-webkit-app-region: drag;height: 40px;background-color: white;" fxLayout="row" fxLayoutAlign="start center">
  <span class="item-spacer"></span>
  <span style="color: #3f3e44;opacity: 0.7;font-family: Roboto;font-size: 14px;margin-left:5px">
    {{songName}}<br>
    <!-- <span style="color: #282364;opacity: 0.7;font-family: Roboto;font-size: 10px;">{{artist}}</span> -->
  </span> 
  <span class="item-spacer"></span>
  <span>
    <mat-icon class="app-icon-gray" style="-webkit-user-select: none;-webkit-app-region: no-drag;cursor: pointer" (click)="sidenav.open()">menu</mat-icon>
  </span>
</mat-grid-tile-header>
<div  (window:resize)="onResize($event)" id="waveform" style="justify-content:center;align-items:center;" fxLayout="column" fxLayoutAlign="center stretch">
    <!-- <mat-progress-bar *ngIf="isLoading" mode="determinate" [value]="progress"></mat-progress-bar> -->
    <!-- <svg width="100%" height="100%" viewBox="0 0 800 400" style="position: absolute; top: 0;z-index: 0">  
                <g id="Group">
                  <circle id="red"  cx="800" cy="300" r="70"></circle>
                  <circle id="green"  cx="200" cy="200" r="50"></circle>
                  <circle id="purple"  cx="500" cy="400" r="40"></circle>
                  <circle id="yellow"  cx="60" cy="100" r="20"></circle>
                  <circle id="blue"  cx="300" cy="50" r="30"></circle>
                  <circle id="gray"  cx="10" cy="350" r="60"></circle>
                  <circle id="red"  cx="400" cy="150" r="70"></circle>
                  <circle id="green"  cx="800" cy="10" r="50"></circle>
                  <circle id="purple"  cx="600" cy="60" r="40"></circle>
                  <circle id="yellow"  cx="500" cy="10" r="20"></circle>
                  <circle id="blue"  cx="210" cy="50" r="30"></circle>
                  <circle id="gray"  cx="120" cy="310" r="60"></circle>
                  <use class="plane" x="100" y ="200" xlink:href="#svg-plane" width="100" height="20"></use>
                </g>
      
            <animateTransform
                      xlink:href="#Group"
                      attributeName="transform"
                      begin="0s"
                      dur="40s"
                      type="rotate"
                      from="0 0 0"
                      to="60 60 60"
                      repeatCount="indefinite"/>
  </svg> -->
</div>
<mat-grid-tile-footer style="height: 40px; background-color: white;" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button>
      <mat-icon class="app-icon-gray" (click)="playPrevious()">skip_previous</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="app-icon-gray" (click)="togglePlayPauseState()">{{icon}}</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="app-icon-gray" (click)="playNext()">skip_next</mat-icon>
    </button>
    <button mat-icon-button >
      <mat-icon class="app-icon-gray" id="volume" [matMenuTriggerFor]="volumecontrol">{{volumeIcon}}</mat-icon>
    </button>
    <span class="item-spacer "></span>  
    <button mat-icon-button >
        <mat-icon class="app-icon-gray" >shuffle</mat-icon>
    </button>
    <button mat-icon-button >
        <mat-icon class="app-icon-gray" (click)="openDialog()">equalizer</mat-icon>
    </button>
    <!-- <button mat-icon-button [@zoomState]="zoomState" (click)="toggleZoomState()"> -->
        <button mat-icon-button  (click)="toggleZoomState()">
      <mat-icon class="app-icon-gray">timeline</mat-icon>
    </button>
    <span style="color: #282364;opacity: 0.7;font-family: Roboto;font-size: 14px;margin-left:5px"> 
        {{currentTime}} : {{songDuration}}
    </span>
</mat-grid-tile-footer>
<mat-menu #volumecontrol="matMenu">
  <div><mat-slider class="slider-class" min="0" max="100" step="1" value="60" vertical=false (input)="updateVolume($event)"></mat-slider></div>
</mat-menu>  

