:host input.md-input-element {
    color: red;
    font-size: 18px;
  }
  .slider-class {
    margin-left: 20px;
    margin-right: 20px;
  }

.mat-slider-vertical {
    height: 100 px;
}
  .app-icon {
    padding: 0 10px;
    color: white;
    cursor: pointer;
  }
  
  .app-icon-gray {
    padding: 0 0px;
    color: #282364;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .app-icon-slelected {
    padding: 0 0px;
    color: #ff4081;
    opacity: 1;
    cursor: pointer;
  }

  .item-spacer {
    flex: 1 1 auto;
  }
 
  .mat-table {
    overflow: auto;
    max-height: 100%;
  
  }
  
  
  @keyframes flicker {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.4;
    }
  }
  
  #gray {
    fill: #f5f5f5;
    animation: flicker 2s ease alternate infinite;
  }
  
  #green {
    fill: #b9f6ca;
    animation: flicker 2.5s ease alternate infinite;
  }
  
  #yellow {
    fill: #ffff8d;
    animation: flicker 3s ease alternate infinite;
  }
  
  #blue {
    fill: #84ffff;
    animation: flicker 2.8s ease alternate infinite;
  }
  
  #purple {
    fill: #b388ff;
    animation: flicker 2.6s ease alternate infinite;
  }
  
  #red {
    fill: #ff8a80;
    animation: flicker 2.2s ease alternate infinite;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadetext {
    animation: fadein 2.2s ease alternate infinite;
  }
  
  body {
    animation: fadein 2s;
  }
  
  :host{
    width: 100%;
  }

  canvas {
    -webkit-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.28);
  }