<!--
<md-toolbar style="background-color: #FFFFFF">
  <div class="buttons" style="-webkit-app-region: no-drag;height:35px;margin: 0px">

    <div class="macbuttons close" (click)="windowAction('close')">
      <i class="material-icons buttonicon" style="position:absolute;cursor: pointer">clear</i>
    </div>
    <div class="macbuttons minimize" (click)="windowAction('min')">
      <i class="material-icons buttonicon" style="position:absolute;cursor: pointer">remove</i>
    </div>
    <div class="macbuttons zoom" (click)="windowAction('max')">
      <i class="material-icons buttonicon" style="position:absolute;cursor: pointer;">add</i>
    </div>

  </div>
  <span class="item-spacer"></span>
  <span>gPlayer</span>
  <span class="item-spacer"></span>
  <md-icon class="app-icon">menu</md-icon>
</md-toolbar>
-->


<md-grid-list cols="1" rowHeight="30px">
  <md-grid-tile rowspan="1" style="background-color: #FFFFFF; font-family: roboto;font-size: 12px" fxLayout="row">
    <span class="item-spacer"></span>
    <span style="color: mediumpurple">gplayer</span>
    <span class="item-spacer"></span>
    <md-icon class="app-icon">menu</md-icon>
  </md-grid-tile>
</md-grid-list>
