.app-icon {
  padding: 0 14px;
  color: #282364;
  opacity: 0.7;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: #ffffff;
  vertical-align: middle;
}
