<div class="footer">
  <span>
    <md-icon class="app-icon">cloud</md-icon>
    <md-icon class="app-icon">airplay</md-icon>
    <md-icon class="app-icon">settings</md-icon>
    </span>
</div>
<!-- <md-grid-list cols="1" rowHeight="50px">
  <md-grid-tile rowspan="1" style="background-color: #ffffff" fxLayout="row" fxLayoutAlign="start center">
    <div>
      <md-icon class="app-icon">cloud</md-icon>
      <md-icon class="app-icon">airplay</md-icon>
      <md-icon class="app-icon">settings</md-icon>
    </div>
  </md-grid-tile>
</md-grid-list> -->
