<md-grid-tile-footer style="background: linear-gradient(to bottom right, white, white);">
    <button md-icon-button (click)="openDialog()">
        <md-icon class="app-icon">cloud</md-icon>
    </button>
    <button md-icon-button (click)="openDialog()">
        <md-icon class="app-icon">airplay</md-icon>
    </button>
    <span class="item-spacer "></span>
    <button md-icon-button (click)="openDialog()">
        <md-icon class="app-icon">settings</md-icon>
    </button>
</md-grid-tile-footer>