<!-- <mat-grid-tile-footer style="background: linear-gradient(to bottom right, rgba(117, 94, 179, 0.479), white);"> -->
<mat-grid-tile-footer style="background-color: #282364">               
    <button mat-icon-button (click)="openDialog()">
        <mat-icon class="app-icon">cloud</mat-icon>
    </button>
    <button mat-icon-button (click)="openDialog()">
        <mat-icon class="app-icon">airplay</mat-icon>
    </button>
    <span class="item-spacer "></span>
    <button mat-icon-button >
        <mat-icon class="app-icon">settings</mat-icon>
    </button>
</mat-grid-tile-footer>
