<!-- <mat-grid-tile-footer style="background: linear-gradient(to bottom right, rgba(117, 94, 179, 0.479), white);"> -->
<mat-grid-tile-footer style="background-color: #282364" fxLayout="row" fxLayoutAlign="center center">               
    <!-- <button mat-icon-button>
        <mat-icon class="app-icon">play_circle_filled</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="app-icon">airplay</mat-icon>
    </button>
    <span class="item-spacer"></span>
    <button mat-icon-button >
        <mat-icon class="app-icon">settings</mat-icon>
    </button> -->
</mat-grid-tile-footer>
