.app-icon {
    padding: 0 14px;
    color: #282364;
    /* color: white; */
  }
  
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: 40px; */
    background-color: #ffffff;
  }

  .item-spacer {
    flex: 1 1 auto;
  }
  
  .mat-dialog-container {
    max-width: 100vw !important;
}