<md-grid-list cols="1" rowHeight="122px">
  <md-grid-tile rowspan="1" style="background-color: lightblue;">
    <md-card style="height: 50px; width: 55px">
      Simple card
    </md-card>
    <div style="margin:10px;width:70%">
      <div>
        Michael Jackson
      </div>
      <div>
        Beat It
      </div>
      <div>
        <div id="waveform"></div>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
  </md-grid-tile>
  <md-grid-tile rowspan="3" style="background-color: lightpink">
    <div style="margin:10px;width:30%">
        <md-icon class="app-icon">playlist_play</md-icon>
        <md-icon class="app-icon">playlist_add_check</md-icon>
        <md-icon class="app-icon">playlist_add</md-icon>
    </div>
    <div style="margin:10px;width:70%">
        <input mdInput placeholder="Find your music" value="">
    </div>
  </md-grid-tile>
</md-grid-list>
