<mat-grid-list cols="1" rowHeight="fit" [style.height]="winWdHt.tileHeight-90+'px'">
  <mat-grid-tile colspan="1" fxLayout="row" fxLayoutAlign="center center" >
    <!-- <div *ngIf="!isFlipped" class="tile-style"></div> -->
    <div  class="card-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="start start" >
      <!-- [ngClass]="{'tile-style': !isFlipped}" -->
      <div class="card-wrapper" *ngFor="let track of tracks;let i=index" 
      [ngClass]="{'div-style': isSetStyleNow && track.Selection,'div-reset-style': !isSetStyleNow && !track.Selection}">
        <div class="card-box" 
          (click)="track.Selection = !track.Selection;isFlipped = track.Selection" 
          [@flipStateTrigger]="!track.Selection"
          (@flipStateTrigger.start)="flippingStarted(track.Selection)"
          (@flipStateTrigger.done)="flippingDone(track.Selection)"
          [ngClass]="{'blurred': isFlipped && !track.Selection,'card-style': isSetStyleNow,'card-reset-style': !isSetStyleNow}"
          [style]="thisstyle">
          <div class="card-box__side card-box__front box"  >
            <img mat-card-image [src]="track.ImageUrl" alt="..." *ngIf="track.ImageUrl!= 'None'">
            <img mat-card-image [src]="noimage" alt="..." *ngIf="track.ImageUrl == 'None'">
          </div>
          <div class="card-box__side card-box__back"  fxLayout="row"  fxLayoutAlign="center center"> 
            <img mat-card-image [src]="track.ImageUrl" alt="..." *ngIf="track.ImageUrl!= 'None'">
          </div>
        </div>
      </div>
    </div>
    <svg style="position: absolute; top: 0;z-index: 0">
      <defs>
        <filter id="f1" x="0" y="0">
          <feGaussianBlur in="SourceGraphic" stdDeviation="15" />
        </filter>
      </defs>
    </svg>
  </mat-grid-tile>
</mat-grid-list>