<mat-grid-list cols="1" rowHeight="fit" [style.height]="winWdHt.tileHeight-90+'px'">
  <mat-grid-tile colspan="1" fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="!isFlipped" class="tile-style"></div>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start start" style="overflow-y: auto;width:100%;height:100%;justify-content: space-between;">
      <!-- [ngClass]="{'tile-style': !isFlipped}" -->
      <div class="card-wrapper" *ngFor="let track of tracks;let i=index" [style.margin-left.px]="winWdHt.tileWidth-100*i">
        <div class="card-box" (click)="track.Selection = !track.Selection;isFlipped = track.Selection" [@flipStateTrigger]="track.Selection"
          (@flipStateTrigger.done)="flippingDone($event)">
          <div class="card-box__side card-box__front">
            <img mat-card-image [src]="track.ImageUrl" alt="..." *ngIf="track.ImageUrl!= 'None'">
            <img mat-card-image [src]="noimage" alt="..." *ngIf="track.ImageUrl == 'None'">
          </div>
          <div class="card-box__side card-box__back">
            text
          </div>
        </div>
      </div>
    </div>
    <svg style="position: absolute; top: 0;z-index: 0">
      <defs>
        <filter id="f1" x="0" y="0">
          <feGaussianBlur in="SourceGraphic" stdDeviation="15" />
        </filter>
      </defs>
    </svg>
  </mat-grid-tile>
</mat-grid-list>