img {
    width:100%;
    height:100%;
    border-radius: 5px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
    /* border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.box {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    
  }
  
  .box::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
     transform: scale(1.1, 1.1);
  }
  
  .box:hover::after {
      opacity: 1;
  }

.tile-style {
    position: absolute; 
    z-index: 11;
    width:100%;
    height:100%;
    overflow: hidden;
    /* filter:url(#f1); */
    filter: blur(5px);  
    background: red; 
}

  svg {
    height:0;
  }

  .card-container {
    overflow-y: auto;
    width:100%;
    height:100%;
    justify-content: space-between;
    background:whitesmoke;
    /* position: relative; */
  }

  .card-wrapper {
    perspective: 500px;
    margin: 16px;
    min-width: 90px;
    min-height: 90px;
    /* border-radius: 5px; */ 
    /* z-index: 10px; */
    position: relative;
  }

  .card-wrapper > div:nth-child(2){
    margin: 0 2em;
  }
  
  .card-box {
    /* position: relative; */
    width: 90px;
    height: 90px;
    transform-style: preserve-3d;
    /* transition: transform 1s; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }


  .card-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
  }

  .card-box__back {
    background-color: rgb(59, 129, 209);
    border-radius: 5px;
    transform: rotateY(180deg);
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.397);
  }

  .blurred {
    animation-name: blur;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes blur {
    from { filter: blur(0px);}
    to { filter: blur(2px);}
  }

  .card-style {
    position: absolute;
  }

  .card-reset-style {
    position: relative;
  }
