<div  [style.height]="winWdHt.tileHeight-90+'px'" [style.width]="winWdHt.tileWidth+'px'" >
    <md-table #table [dataSource]="dataSource" >
      <ng-container mdColumnDef="TrackNumber">
        <md-header-cell *mdHeaderCellDef class="mat-cell-sn"> No. </md-header-cell>
        <md-cell *mdCellDef="let track" class="mat-cell-sn"> {{track.TrackNumber}} </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="Link">
        <md-header-cell *mdHeaderCellDef class="mat-cell-sl">
          <md-checkbox></md-checkbox>
        </md-header-cell>
        <md-cell *mdCellDef="let track" class="mat-cell-sl">
          <md-checkbox></md-checkbox>
        </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="Name">
        <md-header-cell *mdHeaderCellDef class="mat-cell-song"> Song Name </md-header-cell>
        <md-cell *mdCellDef="let track" class="mat-cell-song"> {{track.Name}} </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="Source">
        <md-header-cell *mdHeaderCellDef class="mat-cell-op"> Options </md-header-cell>
        <md-cell *mdCellDef="let track" class="mat-cell-op">
          <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #menu="mdMenu">
            <button md-menu-item>
              <md-icon>play_circle_outline</md-icon>
              <span>Play Next</span>
            </button>
            <button md-menu-item disabled>
              <md-icon>remove_from_queue</md-icon>
              <span>Remove</span>
            </button>
            <button md-menu-item>
              <md-icon>cloud_download</md-icon>
              <span>Download</span>
            </button>
          </md-menu>
        </md-cell>
      </ng-container>
      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;" style="height: 20px" [ngClass]="{'highlight': selectedRowIndex == row.position}"
        [cellHover]="'#F5F5F5'" defaultColor="#FFFFFF" selectColor="#B39DDB" (click)="playTrack(row)">
      </md-row>
    </md-table>
  </div>