  .app-icon {
    padding: 0 10px;
    color: white;
    cursor: pointer;
  }
  
  .app-icon-gray {
    padding: 0 4px;
    color: #282364;
    opacity: 0.7;
    cursor: pointer;
  }
  
  
  .mat-table {
    overflow: auto;
    max-height: 100%;
  
  }
  
  .mat-cell-sn {
    flex: 0 0 10%;
  }
  
  .mat-cell-sl {
    flex: 0 0 10%;
  }
  
  .mat-cell-song {
    flex: 0 0 70%;
    cursor: pointer;
  }
  
  .mat-cell-op {
    flex: 0 0 10%;
  }
  
  .highlight {
    background: #B39DDB;
  }
  


  
  
  