  .menu-icon {
    margin-right: 16px;
    color: #36363b;
    cursor: pointer;
    opacity: 0.7
  }
  
  .app-icon-gray {
    padding: 0 4px;
    color: #282364;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .zero-margin {
    margin-right: 0px
  }
  
  .scroll-bar-style {
    overflow-y: hidden;
  }

  .scroll-bar-style:hover {
    overflow-y: overlay;
  }

  .mat-table {
    overflow: auto;
    max-height: 100%;
  
  }
  
  .mat-cell-sn {
    flex: 0 0 10%;
    margin: 0 auto;
  }
  
  .mat-cell-sl {
    flex: 0 0 10%;
  }
  
  .mat-cell-song {
    flex: 0 0 70%;
    /* cursor: pointer; */
  }
  
  .mat-cell-op {
    flex: 0 0 10%;
  }
  
  .highlight {
    background: #B39DDB;
  }
  
  :host/deep/ .mat-tab-header {
    display: none;
 }

 :host/deep/ .mat-menu-item {
   height: 30px;
 }

 span {
   height: 30px;
  font-size: 14px;
  color: rgba(0,0,0,.87);
}
 
.left-border{
  border-left: 5px solid #282364; 
  background-color: #ffd561
}
  
  