<mat-grid-list cols="4" rowHeight="fit" gutterSize="0" style="width:400px;height:460px;">
  <mat-grid-tile rowspan="2" colspan="4" class="topBgColor" >
    <div fxLayout="column" fxLayoutAlign="center start" style="width:400px;height:100%;display:block;">
        <!-- <div style="width:100%;font-size:12px;color:darkslateblue;text-align:center;"> -->
            <mat-list dense>
              <mat-list-item>
                  <img [src]="album.ImageUrl" alt="..." *ngIf="album.ImageUrl!= 'None'" style="width:75px;height:75px;border-radius: 5%;">
                  <img [src]="noimage" alt="..." *ngIf="album.ImageUrl == 'None'" style="width:80px;height:80px;border-radius: 5%;">
                  <span style="margin-left: 15px"><strong>Album:&nbsp;</strong>{{album.Name}}</span>
              </mat-list-item>
            </mat-list>     
        <!-- </div> -->
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="6" colspan="4" class="bottomBgColor">
    <div fxLayout="column" fxLayoutAlign="start start" style="width:400px;height:350px;overflow-y: auto;display:block;">
        <mat-list dense >
          <!-- <div style="width:100%;font-size:12px;color:darkslateblue;text-align:center;" > -->
          <mat-list-item [cellHover]="'#F5F5F5'" (click)="playSong(event)" *ngFor="let track of tracks;let i=index;last as last">
            <mat-icon style="margin-right: 15px">play_circle_filled</mat-icon>
            <span (click)="playSong(event)">{{track.Name}}</span>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
          <!-- <mat-divider></mat-divider> -->

        <!-- </div> -->

        </mat-list>     
    </div>
  </mat-grid-tile>
</mat-grid-list>