/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  height: 100%;
  background: #ffffff;
  animation: fadein 0.5s;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2) inset;
}
