:host input.md-input-element {
    color: red;
    font-size: 18px;
  }
  
  .app-icon {
    padding: 0 10px;
    color: white;
    cursor: pointer;
  }
  
  .app-icon-gray {
    padding: 0 4px;
    color: #282364;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .item-spacer {
    flex: 1 1 auto;
  }
  
  .mat-form-field-underline {
    background-color: red;
  }
 
  :host/deep/ .mat-input-underline {
    background-color: white
  }

  :host/deep/ .mat-input-placeholder {
    color: white
  }
  
  
  
  