<mat-grid-tile-header  style="background-color: #282364">
        <mat-form-field style="width: 100%;margin-left: 10px" floatPlaceholder="never" color="warn">
          <!--        <mat-icon class="app-icon-gray " matPrefix>search</mat-icon>-->
          <input matInput dividerColor="warn" value="" #filter placeholder="Find your music" style="color: white; font-size: 12px">
        </mat-form-field>
        <span class="item-spacer"></span>
        <!-- <div fxLayout=" row " fxLayoutAlign="start center"> -->
          <button mat-icon-button (click)="file.click()">
            <mat-icon class="app-icon " aria-label="Example icon-button with a heart icon">create_new_folder</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="app-icon " (click)="setTab(0)">recent_actors</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="app-icon " mat-icon-button (click)="setTab(1)">library_music</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="app-icon " mat-icon-button [matMenuTriggerFor]="playlistmenu" >queue_music</mat-icon>
          </button>        
          <input type="file" #file style="display:none" (change)='changeListener($event)' multiple/>
</mat-grid-tile-header>
<mat-menu #playlistmenu="matMenu">
    <mat-list dense>
        <mat-list-item>
            <mat-input-container  floatPlaceholder="never" (click)="stopPropagation($event)">
                <mat-icon class="app-icon-gray " matSuffix style="margin: 0px" (click)="addPlaylist($event)">playlist_add</mat-icon>
                <input matInput  placeholder="Add Playlist" [(ngModel)]="playlistname" style=" font-size: 14px">
            </mat-input-container>        
        </mat-list-item>
        <!-- <mat-divider></mat-divider>         -->
        <mat-list-item *ngFor="let playlist of playLists">
            <button mat-icon-button (click)="stopPropagation($event)" >
            <mat-icon class="app-icon-gray" [id]="playlist.Name">playlist_play</mat-icon>
            </button>
            <span style="margin-left: 16px;font-size: 14px" [id]="playlist.Name" >{{playlist.Name}}</span>
            <span class="item-spacer"></span>   
            <!-- <button mat-icon-button >      -->
            <mat-icon class="app-icon-gray" [id]="playlist.Name" (click)="stopPropagation($event);deletePlaylist($event)">close</mat-icon>
            <!-- </button>     -->
        </mat-list-item>       
      </mat-list>   
</mat-menu>  