<mat-grid-tile-header style="background-color: #282364">
    <mat-form-field style="width: 100%;margin-left: 10px" floatPlaceholder="never" color="warn">
        <!--        <mat-icon class="app-icon-gray " matPrefix>search</mat-icon>-->
        <input matInput dividerColor="warn" value="" #filter placeholder="Find your music" 
        style="color: white; font-size: 14px">
    </mat-form-field>
    <!-- <button mat-icon-button (click)="filter.value=''">
        <mat-icon class="app-icon"  >close</mat-icon>    
    </button> -->
    
    <span class="item-spacer"></span>
    <!-- <div fxLayout=" row " fxLayoutAlign="start center"> -->
    <button mat-icon-button (click)="file.click()">
        <mat-icon class="app-icon " aria-label="open folder">create_new_folder</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="app-icon " (click)="setTab(0)">list</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="app-icon " mat-icon-button (click)="setTab(1)">playlist_play</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="app-icon " mat-icon-button [matMenuTriggerFor]="autoqueue">queue_music</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon class="app-icon " mat-icon-button [matMenuTriggerFor]="playlistmenu">playlist_add</mat-icon>
    </button>
    <input type="file" #file style="display:none" (change)='changeListener($event)' accept="audio/*" multiple/>
</mat-grid-tile-header>
<mat-menu #playlistmenu="matMenu">
    <mat-list dense  style="width:200px;max-height:400px">
        <mat-list-item>
            <mat-input-container floatPlaceholder="never" (click)="stopPropagation($event)">
                <mat-icon class="app-icon-gray " matSuffix style="margin: 0px" (click)="addPlaylist($event)">done</mat-icon>
                <input matInput placeholder="Create Playlist" [(ngModel)]="playlistname" style=" font-size: 12px" type="text">
            </mat-input-container>
        </mat-list-item>
        <!-- <mat-divider></mat-divider>         -->
        <mat-list-item *ngFor="let playlist of playLists">
            <button mat-icon-button (click)="stopPropagation($event)">
                <mat-icon class="app-icon-gray" [id]="playlist.Name">playlist_play</mat-icon>
            </button>
            <span style="margin-left: 10px;font-size: 12px" [id]="playlist.Name">{{truncateString(playlist.Name)}}</span>
            <span class="item-spacer"></span>
            <!-- <button mat-icon-button >      -->
            <mat-icon class="app-icon-gray" [id]="playlist.Name" (click)="stopPropagation($event);deletePlaylist($event)">close</mat-icon>
            <!-- </button>     -->
        </mat-list-item>
    </mat-list>
</mat-menu>
<mat-menu #autoqueue="matMenu" yPosition="below" xPosition="after" style="max-height:200px">
    <mat-list dense style="width:200px;max-height:400px">
        <mat-list-item *ngIf="queueLength > 0">
            <mat-input-container floatPlaceholder="never" (click)="stopPropagation($event)">
                <mat-icon class="app-icon-gray " matSuffix style="margin: 0px" (click)="addQueuePlaylist($event)">done</mat-icon>
                <input matInput placeholder="Save as Playlist" [(ngModel)]="playlistname" type="text" style=" font-size: 12px" >
            </mat-input-container>
        </mat-list-item>
        <mat-list-item *ngFor="let track of autoPlaylists | slice:0:maxMenuItems; let i=index" >
            <div fxLayout="column" fxLayoutAlign="start start">
                <span style="font-size: 12px;" [id]="track._Id" (click)="playNow(track)">{{truncateString(track.Name)}}</span>
                <span *ngIf="track.Name.length<50 && track.Artist!=Null" style="font-size: 12px;color: grey">{{truncateString(track.Artist)}}</span>
            </div>
            <span class="item-spacer"></span>
            <mat-icon class="app-icon-gray" [id]="track._Id" (click)="stopPropagation($event);dequeueTrack($event)">close</mat-icon>
        </mat-list-item>
        <mat-list-item *ngIf="queueLength > 0">
                <button mat-icon-button (click)="clearQueue()" style="width:100%">
                    Clear
                </button>
        </mat-list-item>
        <mat-list-item *ngIf="queueLength == 0">
                <span style="font-size: 14px;">No Songs in queue.</span>                
        </mat-list-item>
    </mat-list>
</mat-menu>