<div fxLayout="row" fxLayoutAlign="start center">
  <mat-slider class="slider-class" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
    [tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
  </mat-slider>
  <mat-slider class="slider-class" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
  [tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
</mat-slider>
<mat-slider class="slider-class" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
[tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
</mat-slider>
<mat-slider class="slider-class" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
[tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
</mat-slider>
<mat-slider class="slider-class" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
[tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
</mat-slider>
<mat-slider class="slider-class" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
[tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
</mat-slider>
</div>